body {
    background-color: black;
    color: white;
    font-family: "Georgia", Times, serif;
}

h1 {
    color: rgb(235, 235, 18);
    text-align: center;
    background-color: rgb(56, 92, 209);
}

h2 {
    font-family: "comic sans ms", Times, serif;
}

.poke {
    border: 4px solid black;
    outline: 3px solid rgb(56, 92, 209);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: auto;
}

#bulbasaur_container {
    background-color: rgb(73, 245, 168);
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 13px;
    border: 2px solid rgb(238, 241, 203);
    border-radius: 10px;
    margin-bottom: 15px;
}

#charmander_container {
    margin-bottom: 15px;
    margin-top: 5px;
    background-color: rgb(236, 156, 145);
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 13px;
    border: 2px solid rgb(238, 241, 203);
    border-radius: 10px;
}

#squirtle_container {
    margin-bottom: 15px;
    margin-top: 0px;
    background-color: rgb(65, 228, 240);
    color: rgb(255, 255, 255);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 13px;
    border: 2px solid rgb(238, 241, 203);
    border-radius: 10px;
    margin-bottom: 50px;
}

.pokemon_images {
    width: 150px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}